@model IEnumerable<Wellness360.Models.EmriUshqimit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ushqimi)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ushqimi)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ushqimi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ushqimi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ushqimi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
